.App5 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bg5 {
  flex-grow: 1;
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .bg5 {
    width: 80%;
  }
}
