.boxAction {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f0f1f2;
}

.left-manu3 {
  border-top-right-radius: 30px;
  margin-right: 10px;
  background-color: white;
  height: 100%;
  width: 10%;
}

.top-img3 {
  background-color: white;
  height: 50%;
  border-top-right-radius: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-intop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListIcon3 {
  border: 0px;
  border-radius: 10px;
  background-color: #0174b3;
  margin-top: 50px;
  width: 50px;
  height: 50px;
}

.logo-table3 {
  width: 100px;
  height: 100px;
}

.bottom-img3 {
  background-color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon3 {
  margin-bottom: 50px;
  border: 0px;
  background-color: white;
}

.icon3:hover {
  background-color: #f0f1f2;
  border-radius: 10px;
}

.bg3 {
  width: 90%;
  height: 100%;
  background-color: white;
  border-top-left-radius: 30px;
}

.header-top3 {
  display: flex;
  justify-content: space-around;
  background-color: #0174b3;
  border-top-left-radius: 30px;
  height: 15%;
}

.left3 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.name3 {
  color: #ffb401;
  font-size: 32px;
  padding-left: 30px;
}

.right3 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.create3 {
  background-color: #ffb401 !important;
  color: #0174b3 !important;
  width: 130px !important;
  font-size: 20px !important;
}

.export3 {
  background-color: #ffb401 !important;
  color: #0174b3 !important;
  width: 125px !important;
  margin-left: 50px;
  font-size: 20px !important;
}

.head-table3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding-top: 10px;
}

.head-data3 {
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 150px;
}

.head-data3:hover {
  cursor: pointer;
}

.lname:hover {
  cursor: default;
}

.butt-data3 {
  border: 2px solid crimson;
}

.head-empty3 {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all-scroll {
  height: 85%;
}

.table-scroll {
  height: 100%;
  overflow: auto;
}
.table-scroll::-webkit-scrollbar {
  display: none;
}

.table-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.member3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
  padding-right: 30px;
}

.member-data3 {
  display: flex;
  justify-content: center;
  min-width: 130px;
  max-width: 150px;
}

.utype-colors3 {
  padding: 5px;
  border-radius: 20px;
  width: fit-content;
}

.box-edit3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.edit-butt3 {
  min-width: 60px !important;
  max-width: 75px !important;
  height: 30px !important;
  background-color: #0174b3 !important;
  color: white !important;
  padding: 0px !important;
}

.del-butt3 {
  min-width: 55px !important;
  max-width: 75px !important;
  height: 30px !important;
  background-color: #ff5240 !important;
  color: white !important;
  padding: 0px !important;
}

.edit-butt3:active {
  background-color: #ffb401 !important;
  color: #ff5240 !important;
}

.del-butt3:active {
  background-color: white !important;
  color: #ff5240 !important;
  border: 1px solid #ff5240 !important;
}

.showTotal {
  position: absolute;
  left: 75px;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .App3 {
    display: flex;
    z-index: 0 !important;
  }
  .left-manu3 {
    z-index: 20;
    position: absolute;
    width: 100px;
    transition: all 0.5s;
  }

  .icon-back2 {
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    border-radius: 10px;
  }
  .top-img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-table3 {
    width: 65px;
    height: 65px;
    z-index: 1;
    transition: all 0.5s;
  }

  .top-img3,
  .bottom-img3 {
    display: flex;
    background-color: #0174b3;
    z-index: 1;
  }

  .ListIcon3 {
    background-color: white;
  }

  .bg3 {
    height: 100%;
    width: 100%;
  }

  .header-top3 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: white;
    height: 10%;
  }

  .left3 {
    width: 60%;
  }

  .icon3 {
    margin-top: 50px;
    border: 0px;
    background-color: #0174b3;
    z-index: 1;
    transition: all 0.5s;
  }

  .right3 {
    width: 40%;
  }

  .top-table {
    width: 250%;
  }

  .name3 {
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 0px;
    padding-left: 40px;
    margin-top: 5px;
  }

  .icon-export3,
  .icon-create3 {
    width: fit-content;
    height: fit-content;
    border: 0px;
    background-color: #0174b3;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  .icon-back2 {
    background-color: #0174b3;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    z-index: 1;
  }

  .icon-create3 {
    margin-right: 10px;
  }

  .all-scroll {
    width: 100%;
    height: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .head-table3 {
    width: 250%;
  }
  .head-data3 {
    min-width: 90px;
    max-width: 100px;
  }

  .table-scroll {
    width: 250%;
    height: 100%;
  }

  .member3 {
    padding-right: 10px;
  }

  .member-data3 {
    min-width: 91px;
    max-width: 100px;
  }

  .edit-butt3 {
    min-width: 50px !important;
    max-width: 75px !important;
  }

  .del-butt3 {
    min-width: 50px !important;
    max-width: 75px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .App3 {
    display: flex;
    flex-direction: column;
  }

  .left-manu3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 15%;
    width: 100%;
    background-color: #0174b3;
  }

  .logo-table3 {
    width: 100px;
    height: 100px;
  }

  .top-img3 {
    background-color: #0174b3;
    height: 100%;
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    padding-left: 50px;
    align-items: flex-start;
  }

  .bottom-img3 {
    background-color: #0174b3;
    height: 100%;
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    padding-right: 50px;
    justify-content: flex-end;
  }

  .ListIcon3 {
    background-color: white;
    padding-bottom: 90px;
    margin-right: 50px;
    z-index: 1;
  }

  .icon3 {
    background-color: #0174b3;
  }
  .icon3:hover {
    background-color: #012d44;
  }

  .bg3 {
    height: 85%;
    width: 100%;
  }

  .header-top3 {
    background-color: white;
  }

  .top-table {
    width: 150%;
  }

  .export3,
  .create3 {
    color: white !important;
  }
  .all-scroll {
    width: 100%;
    height: 86%;
    overflow-x: scroll;
  }

  .head-table3 {
    width: 150%;
  }

  .head-data3 {
    min-width: 115px;
    max-width: 150px;
  }

  .member-data3 {
    min-width: 115px;
    max-width: 150px;
  }

  .table-scroll {
    width: 150%;
    height: 100%;
  }

  .edit-butt3 {
    min-width: 50px !important;
    max-width: 75px !important;
  }

  .del-butt3 {
    min-width: 50px !important;
    max-width: 75px !important;
  }
}
