.App1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f2;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg1 {
  width: 1000px;
  height: 100%;
  box-shadow: 5px 5px 50px 5px gray;
  background-color: white;
  border-radius: 30px;
  overflow: auto;
}

.bg1::-webkit-scrollbar {
  display: none;
}

.bg1 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.message {
  text-align: center;
  color: #ffb401;
}

.regisbutt {
  background-color: #0174b3 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}

.backbutt {
  background-color: #ffb401 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}

.regisbutt:active {
  background-color: #ffb401 !important;
  color: #ff5240 !important;
}

.backbutt:active {
  background-color: #ff5240 !important;
  color: #ffb401 !important;
}

.images1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0174b3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media only screen and (max-width: 600px) {
  .regisbutt,
  .backbutt {
    width: 100px !important;
    height: 50px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .bg1 {
    max-width: 800px;
    height: fit-content;
  }
}
