@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap");

* {
  box-sizing: border-box;
}

.AppAdmin4 {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  /* border: 2px solid yellow; */
  width: 100vw;
  height: 100vh;
  background-color: #f0f1f2;
}

.bgAdmin4 {
  width: 90%;
  height: 100% !important;
  height: fit-content;
  /* border: 5px solid green; */
  background-color: white;
  border-top-left-radius: 30px;
}
.headerAdmin4 {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 28px;
  height: 15%;
  background-color: #0174b3;
  padding-top: 10px;
}

.containerAdmin4 {
  /* border: 2px solid red; */
  height: 85%;
  overflow: auto;
}

.backbuttAdminTop4 {
  display: flex;
  border: 0px;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: #ffb401 !important;
  margin-left: 50px;
  margin-top: 12px;
  background-color: #0174b3;
}

.backbuttAdminTop4:hover{
  background-color: #0069a1 ;
  border-radius: 10px;
}


.message4 {
  text-align: start;
  padding-left: 100px;
  color: white;
  font-size: 24px;
}

.regisbuttAdmin4 {
  background-color: #0174b3 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 20px !important;
  font-weight: bold !important;
}

.backbuttAdmin4 {
  background-color: #ffb401 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 20px !important;
  font-weight: bold !important;
}

.regisbuttAdmin4:active {
  background-color: #ffb401 !important;
  color: #ff5240 !important;
}

.backbuttAdmin4:active {
  background-color: #ff5240 !important;
  color: #ffb401 !important;
}

.fcAdmin4,
.fsAdmin4 {
  width: 100% !important;
  height: 75px !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  border-color: gray !important;
}

.flAdmin4 {
  font-size: 24px;
}

.solo4 {
  display: flex;
  align-items: flex-end;
  width: 65%;
  justify-content: flex-end;
  /* border: 2px solid black; */
}

.row-containAdmin4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  /* border: 1px solid blue; */
}

.imagesAdmin4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 100%;
  width: 10%;
  background-color: white;
  margin-right: 10px;
  border-top-right-radius: 30px;
}
.boxtop4 {
  /* border: 2px solid black; */
  height: 50%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxbottom4 {
  /* border: 2px solid black; */
  height: 50%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.icon4 {
  border: 0px;
  background-color: white;
}

.icon4:hover {
  border-radius: 10px;
  background-color: #f1f2f3;
}

.logoAdmin4 {
  width: 100px;
  height: 100px;
}

.box44{
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #FFB401;
}

.row-containAdmin-butt4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  /* border: 1px solid blue; */
  margin-bottom: 20px;
}

.row-containMessage4 {
  color: #ffb401;
  /* border: 1px solid blue; */
  align-self: start;
  padding-top: 50px;
  padding-left: 150px;
}

.split-contain4 {
  width: 45%;
  justify-content: space-between;
  /* border: 1px solid black ; */
}

.split-containRemark4 {
  /* border: 1px solid black; */
  width: 100%;
  justify-content: space-between;
}

.remark4 {
  width: 100% !important;
  height: 75px !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  border-color: gray !important;
}

.fill-message {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .AppAdmin4 {
    flex-direction: column;
    overflow: scroll;
  }

  .imagesAdmin4 {
    width: 100%;
    height: 15%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
    background-color: #0174b3;
    flex-direction: row;
    justify-content: space-between;
  }

  .boxtop4 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .logoAdmin4 {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .boxbottom4 {
    height: 100%;
    width: 0%;
    align-items: flex-end;
    padding-right: 50px;
    display: none;
  }

  .icon4 {
    border: 0px;
    background-color: #0174b3;
  }

  .bgAdmin4 {
    width: 100%;
    height: 85% !important;
    border-top-right-radius: 30px;
  }

  .headerAdmin4 {
    background-color: white;
    border-top-right-radius: 30px;
    flex-direction: row;
    align-items: center;
  }

  .box44 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffb401;
  }

  .backbuttAdminTop4 {
    background-color: white;
    border: 0px;
    padding-left: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .backbuttAdminTop4:hover{
    background-color: #f1f2f3 ;
    
  }

  .message4 {
    color: black;
    display: none;
  }

  .row-containMessage4 {
    justify-content: center;
    margin-top: 20px;
    font-size: 36px;
    padding: 0px;
    align-self: center;
    margin-bottom: 20px;
  }

  .row-containAdmin4 {
    width: 85%;
    flex-direction: column;
  }
  .flAdmin4 {
    font-size: 18px;
  }

  .split-contain4 {
    width: 100%;
  }

  .solo4 {
    width: 85%;
  }

  .row-containAdmin-butt4 {
    width: 85%;
    margin-bottom: 30px;
  }

  .regisbuttAdmin4,
  .backbuttAdmin4 {
    height: 60px !important;
    width: 120px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .AppAdmin4 {
    flex-direction: column;
    overflow: scroll;
  }

  .imagesAdmin4 {
    /* border: 5px solid green; */
    width: 100%;
    height: 15%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
    background-color: #0174b3;
    flex-direction: row;
    justify-content: space-between;
  }

  .boxtop4 {
    height: 100%;
    width: 50%;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 50px;
  }

  .boxbottom4 {
    height: 100%;
    width: 50%;
    align-items: flex-end;
    padding-right: 50px;
  }

  .icon4 {
    border: 0px;
    background-color: #0174b3;
  }

  .bgAdmin4 {
    width: 100%;
    height: 85% !important;
    border-top-right-radius: 30px;
  }

  .headerAdmin4 {
    background-color: white;
    border-top-right-radius: 30px;
  }

  .box44 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffb401;
  }

  .backbuttAdminTop4 {
    background-color: white;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .message4 {
    color: black;
  }

  .row-containMessage4 {
    justify-content: center;
    margin-top: 20px;
    font-size: 36px;
    padding: 0px;
    align-self: center;
  }

  .row-containAdmin4 {
    width: 90%;
  }

  .solo4 {
    width: 90%;
  }

  .row-containAdmin-butt4 {
    width: 90%;
    margin-bottom: 30px;
  }
}
