@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;

}
.App2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    background-color: #f0f1f2;
}
.bg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 700px;
    height: 500px;
    padding: 20px;
    box-shadow: 5px 5px 50px 5px gray;
    border-radius: 20px;
    background-color: #0174B3;
}

.container2{
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-contain-login2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
}
.row-contain-login2-pwd{
    background-color: white;
    width: 350px ;
    height: 50px ;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-right: 10px;
}


.row-contain-login2-butt{
    display: flex;
    align-items: center;
}

.eyeVisit:hover{
    cursor: pointer;
}
.input2{
    width: 350px !important;
    height: 50px !important;
    border-radius: 50px !important;
    margin-bottom: 0px !important;
}

.input2-pwd{
    border: none;
    margin-left: 8px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
}


.logo2{
    width: 150px;
    height: 150px;
}

.loginbutt2{
    background-color: #FF5240 !important;
    color: #FFB401 !important;
    border-radius: 50px !important;
    width: 130px !important;
    height: 55px !important;
    font-size: 24px !important;
    font-weight: bold !important;
    margin: 5px !important;
  }

  .loginbutt2:active{
    background-color: #FFB401 !important;
    color: #FF5240 !important;

  }


  @media only screen and (max-width:600px) {

    .bg2{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        justify-content: center;
    }

    .input2{
        width: 250px !important;
        height: 50px !important;
    }
    .images2{
        margin-bottom: 20px;
    }

    .loginbutt2{
        width: 125px !important;
        height: 50px !important;
        font-size: 22px !important;
        font-weight: bold !important;
      }

    .row-contain-login2-pwd{
        width: 250px ;
        height: 50px ;
    }
  
  }


  @media only screen and (min-width:601px) and (max-width:900px) {
    .bg2{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        justify-content: center;
    }

    .input2{
        width: 300px !important;
        height: 55px !important;
        
    }
    .images2{
        margin-bottom: 45px;
    }

    .loginbutt2{
        width: 150px !important;
        height: 60px !important;
        font-size: 24px !important;
        font-weight: bold !important;
        margin-top: 10px !important;

      }

      .row-contain-login2-pwd{
        width: 300px ;
        height: 50px ;
    }
  
   
  }


 