@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap');

*{
    box-sizing: border-box;
}

.App5{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(190, 190, 190);

}

.left-manu5{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 30px;
    margin-right: 10px;
    background-color: white;
    height: 100%;
    width: 10%;
}

.top-img5{
    border: 2px solid black;
    padding-top: 20px;
    height: 50%;
}

.bottom-img5{
    border: 2px solid black;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bg5{
    border: 2px solid red;
    width: 90%;
    height: 100%;
    border-top-left-radius: 30px ;
    box-shadow: 5px 5px 50px 5px gray;
    background-color: white;
    
}

.left3{
    border: 2px solid yellowgreen;
    width: 20%;
    height: 100%;
    background-color: #0174B3;
    border-top-left-radius: 30px ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;


}

.right3{
    border: 2px solid yellowgreen;
    width: 100%;
    height: 100%;

}

.headerInfo2{
    border: 2px solid purple;
    background-color: #0174B3;
    color: #FFB401;
    border-top-left-radius: 28px ;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.backbutt3{
    border: 2px solid black !important;
    color: #FFB401 !important;
    display: flex !important;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 50px; 
    margin-top: 20px;
    

}

.showcontain2{
    display: flex;
    justify-content: center;
    border: 5px solid purple;
    height: fit-content;

}

.wrap-contain{
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
    height: 77%;
}

.contain-left2{
    border: 2px solid green;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contain-right2{
    /* border: 2px solid green; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contain-data2{
    border: 5px solid pink;
    height: 87%;
    overflow: auto;
    
}

.row-data2{
    border: 2px solid crimson;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 20px;
    
}

.split-containedit{
  
    justify-content: space-between;
    border: 1px solid black;
  
  }

  .solo2{
    display: flex;
    align-items: flex-end;
    width: 65%;
    justify-content: flex-end;
    border: 2px solid black;
  
  }

  .fl2{
    font-size: 24px;
  }

  .split-containRemarkedit{
    border: 1px solid black;
    width: 100%;
  
  }

.row-data-remark{
    align-self: center;
    border: 2px solid crimson;
    height: fit-content;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left:40px ;
}

.inputedit{
  width: 500px !important;
  height: 75px !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  border-color: gray !important;
}

.inputeditremark{
    height: 75px !important;
    width: 100% !important;
    border-radius: 25px !important;
    border-color: gray !important;
}

.label-data2{
    color: black;
    margin-right: 20px;
    font-size: 24px;

}

.data2{
    font-size: 28px;
}

.row-butt2{
    border: 2px solid pink;
    display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}

.savebutt{
    background-color: #0174B3 !important;
    color: white !important;
    border-radius: 50px !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 24px !important;
    font-weight: bold !;
}

.cancelbutt{
    background-color: #FFB401 !important;
    color: white !important;
    border-radius: 50px !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 24px !important;
    font-weight: bold !;
}


.empty-box2{
    width: 100px;
}

.edit-butt-sw2{
    width: 85px !important;
    height: 40px !important;
    background-color: #0174B3 !important;
    color: white !important;
    padding: 0px !important;
    font-size: 24px !important;
    font-weight: bold !important;
}