@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap');


.App3{
    /* height: 1080px;
    width: 1920px; */
    height: 100vh;
    width: 100vw;
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: rgb(184, 179, 179);

    /* border: 1px solid rgb(17, 247, 74); */
}

.bg3{
    margin-top: 10px;
    width: 100%;
    height: 99%;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    /* border: 1px solid black; */
}

.top-img{
    background-color: #0174B3;
    height: 13%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-table{
    width: 100px;
    height: 100px;
}

.bottom-img{
    background-color: white;
    height: 87%;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon{
    margin-bottom: 50px;
    border: 0px;
    background-color: white;
}

.left-manu{
    border-top-right-radius: 30px;
    margin-top: 10px;
    margin-right: 50px;
    /* border: 1px solid black; */
    background-color: rgb(184, 179, 179);
    height: 99%;
    width: 200px;
}

.header-top{
    /* border: 1px solid orange ; */
    display: flex;
    justify-content: space-around;
    background-color: #0174B3  ;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 140px;
 
}

.name{
    color: #FFB401;
    font-size: 32px;
}

.left{
    /* border: 5px solid yellowgreen ; */
    display: flex;
    align-items: center;


}

.right{
    /* border: 5px solid yellowgreen ; */
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    align-items: center;
    width: 50%;


}

.create{
    background-color: #FFB401 !important;
    color: #0174B3 !important;
    width: 130px !important;
    font-size: 20px !important;
}

.export{
    background-color: #FFB401 !important;
    color: #0174B3 !important;
    width: 125px !important;
    margin-left: 50px;
    font-size: 20px !important;

}

.head-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid brown ; */
    height: 50px;
    padding-top: 10px;
    /* display: grid;
    grid-template-columns: repeat(13,auto); */
    /* padding-right: 500px; */
    /* padding-right: 80px; */
    
}

.member{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid deepskyblue ; */
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    /* display: grid;
    grid-template-columns: repeat(10,auto); */
}

.head-data{
    /* border: 2px solid crimson ; */
    display: flex;
    justify-content: center;    
    width: 150px;

}

.head-empty{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid crimson ; */

}



.member-data{
    /* border: 2px solid crimson ; */
    display: flex;
    justify-content: center;
    width: 150px;

}

.utype-colors{
    padding: 5px;
    border-radius: 20px;
    width: fit-content;
    background-color: #A8FFA6;
}

.box-edit{
    /* border: 2px solid crimson ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    /* grid-column: 9/13; */
    /* padding-left: 30px;
    padding-right: 30px; */
}

.edit-butt{
    width: 75px !important;
    height: 30px !important;
    background-color: #0174B3 !important;
    color: white !important;
    padding: 0px !important;

}

.edit-butt:active{
    background-color: #FFB401 !important;
    color: #FF5240 !important;
}

.hr-last{
    grid-column: 1/13;
}

@media only screen and (min-width:601px) and (max-width:900px) {

    .App3{
        display: flex;
        flex-direction: column; 
        background-color: rgb(187, 183, 183);
    }

    .left-manu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        margin-right: 0px ;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: 200px;
        width: 100%;
        background-color: #0174B3;  
    }

    .logo-table{
        width: 100px;
        height: 100px;
    }

    .top-img{
        /* border: 1px solid black; */
        background-color: #0174B3;
        height: 100% !important;
        width: 20%;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bottom-img{
        /* border: 1px solid black; */
        background-color: #0174B3 !important;
        height: 100% !important;
        width: 20%;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 30px !important;

        display: flex;
        justify-content: center;
        align-items: flex-end !important;
    }

    .icon-exit{
        border-color: #0174B3 !important;
    }

    .header-top{
        background-color: white;
    }

    .export,.create{
        color: white !important;
    }
  
    
   
  }