@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap');

*{
  box-sizing: border-box;
}

.App {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
}

.bg{
  width: 1500px;
  height: fit-content;
  box-shadow: 5px 5px 50px 5px gray;
  /* border: 100px solid black; */
}

.message{
  text-align: center;
  color: #FFB401;
  
}


.regisbutt{
  background-color: #0174B3 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}

.backbutt{
  background-color: #FFB401 !important;
  color: white !important;
  border-radius: 50px !important;
  width: 150px !important;
  height: 70px !important;
  font-size: 24px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}

.regisbutt:active{
  background-color: #FFB401 !important;
  color: #FF5240 !important;
}

.backbutt:active{
  background-color: #FF5240 !important;
  color: #FFB401 !important;
}

.form-control,.form-select{
  width: 300px !important;
  height: 75px !important;
  border-radius: 50px !important;
  margin-bottom: 10px !important;
}

.solo{
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: flex-end;
}


.images{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  
}

img{
  width: 150px;
  height: 150px;
}

.row-contain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  /* border: 1px solid blue; */
}

.row-contain-butt{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  /* border: 1px solid blue; */
}



.split-contain{
  
  justify-content: space-between;
  /* border: 1px solid black; */

}
/* .split-contain-last{
  border: 1px solid black;
  width: 100%;
}

.remark{
  width: 100% !important;
} */


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{
  margin-right: 50px;
}

@media only screen and (max-width:600px) {

  .row-contain,.solo{
    flex-direction: column;
    width: fit-content;

  }

  .row-contain-butt{
    width: 400px;
  }

  .bg{
    max-width: 500px;
  }

  .backbutt{
    height: 50px !important;
    width: 125px !important;
  }
}

@media only screen and (min-width:601px) and (max-width:900px) {

  .row-contain,.solo{
    flex-direction: column;
  }

  .row-contain-butt{
    width: 500px;
  }

  .bg{
    max-width: 800px;
  }

  .backbutt{
    height: 60px !important;
  }

  
 
}





